In [2]:
# Write a program using for loop to print from 34 to 45 (45 included)

# your Answer
for i in range(34,46):
    print(i)

34
35
36
37
38
39
40
41
42
43
44
45

In [5]:
# Write a program using for loop to print "machinelearning" 50 times 

# your Answer
for i in range(50):
    print("machinelearning")

machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning

In [10]:
# Write a program using for loop to print 21 ,23,25,27

# your Answer
for num in range(21,28,2):
    print(num)

21
23
25
27

In [15]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

# your Answer
for num in range (14,38):
    if num == 17:
        continue
    print(num,end=" ")

14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

In [25]:
# Write a program to print only even numbers from 85 to 100 using for loop

# your Answer
for num in range(85,101):
    if num%2==0:
        print(num,end=" ")

86 88 90 92 94 96 98 100

In [27]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37

# your Answer
for num in range(14,38):
    if num % 7 ==0 and num % 5 ==0:
        print(num)

35

In [46]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"

# your Answer
for num in range(14,38):
    if num % 3 == 0 and num % 5 == 0:
        print(num,"goodmorning")
    elif num % 3 == 0:
        print(num,"hello")
    elif num % 5 == 0:
        print(num,"hi")
    else:
        print(num)

14
15 goodmorning
16
17
18 hello
19
20 hi
21 hello
22
23
24 hello
25 hi
26
27 hello
28
29
30 goodmorning
31
32
33 hello
34
35 hi
36 hello
37

In [50]:
"""
2*1 = 2
2*2 = 4
.
.
.
2*10 = 20
"""
#Write program to print 2 table like above 
# your Answer
for num in range(1,11):
    multiple = 2*num 
    print("2*",num,"=",multiple)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20